In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib notebook

C:\Users\Ulric\Anaconda3\lib\site-packages\IPython\kernel\__init__.py:13: ShimWarning: The `IPython.kernel` package has been deprecated. You should import from ipykernel or jupyter_client instead.
  "You should import from ipykernel or jupyter_client instead.", ShimWarning)

In [64]:
pathData = 'D:\data\ships\st.txt'
schemaDynamic = ['UNIX timestamp',
    'Ship MMSI (Maritime Mobile Service Identity)',
    'Navigational condition',
    'Steering rate',
    'Speed Over Ground',
    'Device accuracy',
    'latitude',
    'Longitude',
    'COG',
    'Heading',
    'UTC verification seconds',
    'Packet ID',
    'Data Source ID']
schemaStatic = ['timestampUNIX',
    'MMSI', # (Maritime Mobile Service Identity)
    'IMO', # (International Maritime Organization)
    'callsign',
    'vessel',
    'shipType',
    'captain',
    'breadth',
    'pointingDeviceType',
    'eta',
    'currentDraft',
    'destination',
    'packetID',
    'dataSourceID']

In [54]:
#shipData = pd.read_csv(pathData, header=None, engine='c', skiprows=[83988, 137058, 288322])
shipData = pd.read_csv(pathData, header=None, engine='c', quoting=3, error_bad_lines=False)

In [65]:
shipData.columns = schemaStatic

In [76]:
destinationMissingFilter = shipData.destination.apply(lambda x: not isinstance(x, str))

In [77]:
shipData.loc[destinationMissingFilter,:].head(100)

,timestampUNIX,MMSI,IMO,callsign,vessel,shipType,captain,breadth,pointingDeviceType,eta,currentDraft,destination,packetID,dataSourceID
3,1409501013,265623790,0,NaN,EMM XXIII,0,0,0,0,0,0,NaN,24,103
11,1409501013,413993994,0,NaN,LONG TENG 322,80,41,8,0,0,0,NaN,19,103
17,1409501014,244730713,0,PD5432,SPERATE,79,81,9,1,1596,24,NaN,5,103
18,1409501014,265506520,0,SIAL,SWEDISH WARSHIP 90,35,23,6,1,1596,0,NaN,5,103
19,1409501014,271010835,0,NaN,YENI TUNA,0,0,0,0,0,0,NaN,24,103
20,1409501014,273455430,0,NaN,KAPITAN SHEPELENKO,0,0,0,0,0,0,NaN,24,103
26,1409501014,412421492,0,,NaN,30,30,6,0,0,0,NaN,24,103
28,1409501018,235005770,8205852,MQHL6,ANNEGINA,30,42,9,1,1596,50,NaN,5,103
29,1409501018,235075151,0,NaN,MV KISMET,0,0,0,0,0,0,NaN,24,103
34,1409501018,263927360,0,NaN,NaN,36,0,0,0,0,0,NaN,24,103
35,1409501018,263956460,0,CRA6806,NaN,36,10,3,0,0,0,NaN,24,103
36,1409501018,412445305,0,NaN,MIN ZHANG YU 0352,0,0,0,0,0,0,NaN,24,103
37,1409501018,412450955,0,9029,NaN,30,12,4,0,0,0,NaN,24,103
38,1409501018,412596033,0,NaN,HAI RUN 967,0,0,0,0,0,0,NaN,24,103
39,1409501018,413452680,0,NaN,HENGJIA168,79,52,7,0,0,28,NaN,5,103
40,1409501018,413466930,0,2,XIANGFU3,70,49,16,1,164660,42,NaN,5,103
44,1409501019,233296000,0,MGGH9,NaN,30,24,6,0,0,0,NaN,24,103
45,1409501019,235072824,0,NaN,SD RESOURCEFUL,0,0,0,0,0,0,NaN,24,103
48,1409501019,244740354,0,PE9840,HA 19 POLARIS,30,26,5,1,1596,0,NaN,5,103
52,1409501019,258102680,0,NaN,LILY,0,0,0,0,0,0,NaN,24,103
57,1409501019,367122330,0,NaN,DAVID B,0,0,0,0,0,0,NaN,24,103
58,1409501019,367574590,0,WDG8158,NaN,36,16,5,0,0,0,NaN,24,103
59,1409501019,413813496,0,NaN,E SHI 3008,0,0,0,0,0,0,NaN,24,103
60,1409501022,211442660,0,NaN,HELGOLAND EXPRESS,0,0,0,0,0,0,NaN,24,103
62,1409501022,219018856,0,NaN,SAVOY,0,0,0,0,0,0,NaN,24,103
67,1409501022,244710430,0,PE2952,WANDERER,79,67,7,15,1596,3,NaN,5,103
68,1409501022,244740751,0,PG6422,NaN,37,16,4,0,0,0,NaN,24,103
70,1409501022,263957850,0,NaN,IMPOSSIVEL,0,0,0,0,0,0,NaN,24,103
71,1409501022,271010078,0,NaN,MARINTUG-II,0,0,0,0,0,0,NaN,24,103
73,1409501022,316010218,0,NaN,NaN,51,7,3,0,0,0,NaN,24,103
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,1409501036,413867543,0,NaN,HAI RUN 589,70,53,10,0,0,0,NaN,19,103
164,1409501040,413900567,0,NaN,HUIHAIYUN329,0,0,0,0,0,0,NaN,24,25
165,1409501041,413595959,0,NaN,XIN HAI XING 115,0,0,0,0,0,0,NaN,24,34
166,1409501041,413901088,0,,NaN,70,0,0,0,0,0,NaN,24,25
167,1409501041,413901088,0,NaN,ZHONG HANG 935(^_^),0,0,0,0,0,0,NaN,24,25
170,1409501042,211319010,0,DJ2516,NaN,36,12,4,0,0,0,NaN,24,103
171,1409501042,219005252,0,NaN,H C ANDERSEN,0,0,0,0,0,0,NaN,24,103
173,1409501042,229349000,0,NaN,WINDFALL,0,0,0,0,0,0,NaN,24,103
177,1409501042,244615374,0,NaN,ENDORPHIN,0,0,0,0,0,0,NaN,24,103
178,1409501042,244630147,0,PE4698,IMMACULATA,79,135,12,1,1596,0,NaN,5,103
182,1409501042,258122980,0,NaN,SHJANDUR,0,0,0,0,0,0,NaN,24,103
184,1409501042,338757000,0,WCH7048,NaN,30,0,0,0,0,0,NaN,24,103
185,1409501042,412378850,0,NaN,JIA TAI 3,0,0,0,0,0,0,NaN,24,103
186,1409501042,413826023,0,NaN,SAN TONG 5001,0,0,0,0,0,0,NaN,24,103
189,1409501043,412324631,0,NaN,LUMUYU0226,0,0,0,0,0,0,NaN,24,34
192,1409501043,413773316,0,NaN,NANHANGSHUN23,0,0,0,0,0,0,NaN,24,25
193,1409501043,413773316,0,NaN,NANHANGSHUN23,0,0,0,0,0,0,NaN,24,25
194,1409501043,413994874,0,NaN,TENGXIANHAISHUN 003,70,68,35,0,0,0,NaN,19,25
196,1409501045,800035019,0,NaN,HAIXIANG006,0,0,0,0,0,0,NaN,24,34
197,1409501046,412324631,0,100200,NaN,30,26,6,0,0,0,NaN,24,34
198,1409501046,412468890,0,NaN,BO_SHI_YUN_198,0,0,0,0,0,0,NaN,24,25
201,1409501048,413985301,0,NaN,GUIGANGFENGSHUN 1228,70,49,13,0,0,0,NaN,19,25
202,1409501049,413467970,0,NaN,NaN,0,66,14,0,0,0,NaN,24,25
203,1409501050,413906072,0,NaN,HUI FENG NIAN 366,70,87,19,0,0,0,NaN,19,25
204,1409501051,205400890,0,OT4008,PIRAAT,80,50,6,1,152335,0,NaN,5,103
205,1409501051,234171000,0,MWSG-2,NaN,36,20,5,0,0,0,NaN,24,103
210,1409501051,413978129,0,NaN,JIANGSUTUI915,90,26,8,0,0,0,NaN,19,103
211,1409501051,413986916,0,NaN,GUI XIANG JIANG 3008,70,49,13,0,0,0,NaN,19,25
213,1409501051,563028790,0,NaN,OCEAN WIND 2,0,0,0,0,0,0,NaN,24,103
219,1409501052,227564180,0,NaN,WILLIWAW SOLO SAILOR,0,0,0,0,0,0,NaN,24,103

In [78]:
shipData.describe()

,timestampUNIX,MMSI,IMO,shipType,captain,breadth,pointingDeviceType,eta,currentDraft,packetID,dataSourceID
count,3.319806e+06,3.319806e+06,3.319806e+06,3319806.000000,3319806.000000,3319806.000000,3319806.000000,3319806.000000,3319806.000000,3319806.000000,3319806.000000
mean,1.409543e+09,3.981772e+08,8.451365e+06,50.561965,63.992531,11.147314,1.603647,287452.247929,27.921296,11.456462,90.968960
std,2.536415e+04,1.897517e+08,6.317929e+07,29.461007,70.335768,11.040316,3.832890,316390.623542,34.112881,8.655012,27.722033
min,1.409501e+09,1.000000e+08,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,3.000000
25%,1.409520e+09,2.465650e+08,0.000000e+00,31.000000,18.000000,4.000000,0.000000,0.000000,0.000000,5.000000,101.000000
50%,1.409544e+09,4.121453e+08,0.000000e+00,55.000000,40.000000,9.000000,1.000000,1596.000000,15.000000,5.000000,101.000000
75%,1.409563e+09,4.138236e+08,8.301955e+06,70.000000,91.000000,15.000000,1.000000,588544.000000,50.000000,24.000000,101.000000
max,1.409588e+09,1.000000e+09,1.073742e+09,255.000000,1022.000000,126.000000,15.000000,851436.000000,255.000000,24.000000,106.000000

In [81]:
#eta is in days?
851436 / 60/ 60 / 24

9.854583333333334

In [82]:
# currentDraft is an 8 bit number?
np.log2(256)

8.0

In [69]:
shipData.destination.

dtype('O')

In [66]:
shipData.head()

,timestampUNIX,MMSI,IMO,callsign,vessel,shipType,captain,breadth,pointingDeviceType,eta,currentDraft,destination,packetID,dataSourceID
0,1409501013,219905000,0,XP5174,L68 JANGA BORK,30,18,6,1,1596,30,CH 16 FOR DEST,5,103
1,1409501013,219946000,0,OZYD,HELLE JES,30,21,6,1,1596,0,HUIDB SANDE,5,103
2,1409501013,261182647,0,SR2647,KRYSTYNA,99,62,8,15,568448,2,KALININGRAD *:,5,103
3,1409501013,265623790,0,NaN,EMM XXIII,0,0,0,0,0,0,NaN,24,103
4,1409501013,305477000,9160334,V2EM4,VECHTBORG,70,133,16,1,582656,48,BREMEN BY KIEL CANAL,5,103

In [68]:
shipData.tail(100)

,timestampUNIX,MMSI,IMO,callsign,vessel,shipType,captain,breadth,pointingDeviceType,eta,currentDraft,destination,packetID,dataSourceID
3319706,1409587972,636091621,9391397,A8QM9,CONTI GREENLAND,80,185,28,0,593024,77,TO ORDER,5,38
3319707,1409587973,353036000,9632844,3ERQ4,EVER JUDGER,70,229,32,1,588864,104,ZHANGJIAGANG,5,6
3319708,1409587973,413772108,0,NaN,WAN XUANCHENGHUO8758,70,90,15,0,0,0,NaN,19,6
3319709,1409587973,413812622,0,NaN,YU.XIN.HUO.11696,70,92,16,0,0,0,NaN,19,6
3319710,1409587974,977777668,0,NaN,JIE 668,53,5,5,0,0,0,NaN,19,6
3319711,1409587976,413352250,0,BHMZ,XIN WU 6,70,129,18,1,597440,78,FU.ZHOU,5,6
3319712,1409587976,413955378,0,NaN,JIHAIRUN,0,0,0,0,0,0,NaN,24,6
3319713,1409587977,211330520,9204764,DDTS,SEATURBOT,80,177,28,0,594304,92,BORDEAUX,5,38
3319714,1409587977,219675000,8023527,OZJA2,ORATECA,80,85,13,0,592960,41,NEXOE,5,38
3319715,1409587977,304158000,9086796,V2PM7,GODAFOSS,70,165,28,0,593088,89,ROTTERDAM NL,5,38
3319716,1409587977,312044000,9057329,V3VB,MIKHAIL DUDIN,79,89,13,0,608768,34,MURMANSK,5,38
3319717,1409587977,345040017,9223801,XCEF2,HALCON,31,225,33,0,591902,0,CHAP B_15,5,38
3319718,1409587977,351285000,9263344,3ENJ5,MSC ASTRID,71,231,32,0,596736,101,SINGAPORE,5,38
3319719,1409587977,370312000,9297527,3FIC6,ANTWERP BRIDGE,71,294,32,0,594816,131,FREMANTLE,5,38
3319720,1409587977,413779009,0,NaN,AN DA 6666,70,98,16,0,0,0,NaN,19,6
3319721,1409587977,413793081,0,NaN,YUZHOUCHANGSHUN1111,0,0,0,0,0,0,NaN,24,6
3319722,1409587978,413768207,0,,NaN,70,66,13,0,0,0,NaN,24,6
3319723,1409587978,413770347,0,8268,NaN,0,45,9,0,0,0,NaN,24,6
3319724,1409587978,413793426,0,NaN,JANGTAI1678,70,58,11,0,0,0,NaN,19,6
3319725,1409587979,411457086,1049088,B C A D,L HAI HONG XING,70,94,14,1,0,0,NaN,5,6
3319726,1409587979,413353930,0,NaN,XINGHANGHAI588,70,53,9,0,0,0,NaN,19,6
3319727,1409587980,413435670,0,NaN,SHUN KAI 168,89,53,9,0,600448,38,WEI FANG,5,6
3319728,1409587980,413801791,0,NaN,HAIXIANG88,70,103,17,0,0,0,NaN,19,6
3319729,1409587980,413804317,0,NaN,YU ZHU HUO 1880,70,72,11,0,0,0,NaN,19,6
3319730,1409587980,413809976,0,NaN,TAI DONG 8,0,0,0,0,0,0,NaN,24,6
3319731,1409587980,413825674,0,NaN,GAO QIANG 08,70,106,18,0,0,0,NaN,19,6
3319732,1409587981,413770347,0,8268,NaN,0,45,9,0,0,0,NaN,24,6
3319733,1409587981,413819246,0,NaN,KAI RUI 66,80,87,15,0,0,0,NaN,19,6
3319734,1409587981,538005551,9435703,V7RN3,GULHOLMEN,82,144,22,1,582912,60,NANTONG CHINA,5,6
3319735,1409587982,212236000,9224958,C4ZT2,CMA CGM MANET,71,195,30,0,594176,94,NLRTM,5,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3319776,1409587992,413782911,0,0000000,NaN,70,110,20,0,0,0,NaN,24,6
3319777,1409587993,413435670,0,NaN,SHUN KAI 168,89,53,9,0,600448,38,WEI FANG,5,6
3319778,1409587993,413780136,0,2222222,NaN,70,110,19,0,0,0,NaN,24,6
3319779,1409587993,413822011,8042710,NTTSQD,JIANGSULUDU3003,69,88,15,6,533000,25,NaN,5,6
3319780,1409587994,412429990,0,BLFL8,TONG DA HAI 3,70,134,19,0,592542,68,NAN TONG,5,6
3319781,1409587994,412432110,0,NaN,ZHEDIN39319,0,0,0,0,0,0,NaN,24,6
3319782,1409587994,413040160,0,BSVP,JIAO GONG 79,31,40,10,1,836736,45,NAN TONG,5,6
3319783,1409587996,412429990,0,BLFL8,TONG DA HAI 3,70,134,19,0,592542,68,NAN TONG,5,6
3319784,1409587996,413812736,0,NaN,NANHAI 1068,70,57,10,0,0,0,NaN,19,6
3319785,1409587997,212375000,9350666,C4YV2,CLIPPER POINT,70,142,23,0,594688,52,CUXHAVEN,5,38
3319786,1409587997,235019174,8960880,MGRN9,EYNHALLOW,0,28,7,0,0,0,NaN,5,38
3319787,1409587997,265573140,9061241,SEZV,GULLBRITT,60,96,14,0,67648,50,FINNSBO-SKAR T/R,5,38
3319788,1409587997,266088000,0,SLRH,VIKEN AF EDSVIK,30,21,7,0,0,0,NaN,5,38
3319789,1409587997,357787000,9202168,3FCF9,UNI-PATRIOT,71,182,28,0,594496,75,JAKARTA,5,38
3319790,1409587997,441194000,9009906,DSFU6,CHEM HANA,80,69,11,0,595072,46,KR ULSAN,5,38
3319791,1409587997,441729000,9140877,DSMR2,DRAGON ACE NO3,80,85,14,0,594496,55,YEOSU,5,38
3319792,1409587997,477105700,9322451,VRBS2,YUE CHI,89,187,31,0,594270,75,AL JUBAIL,5,38
3319793,1409587997,538003199,9330422,V7PA9,NOVO MESTO,70,190,32,0,598080,69,ALLIKANTE,5,38
3319794,1409587997,567002200,7913854,HSB2524,PATCHARAWADEE 12,0,82,13,0,561856,49,VUNGTAU VIETNAM,5,38
3319795,1409587997,636014901,9014080,A8XI5,COUGAR,79,186,28,0,597056,85,SEMARANG,5,38
3319796,1409588002,210628000,9420875,C4ZN2,AFON LLIFON,52,36,13,0,627584,35,AQABA,5,38
3319797,1409588002,353862000,9440980,3FFE7,VERDI,70,185,32,0,601344,70,ONSLOW,5,38
3319798,1409588002,366984970,0,WDB9912,ROBERTA TABOR,31,44,15,0,548987,35,ST LOUIS,5,38
3319799,1409588002,710237000,7801697,PPMY,NT DIVA,80,160,24,0,592768,80,SAO SEBASTIAO,5,38
3319800,1409588015,412044063,44063,GD44063,HJ44063,0,46,6,0,1596,0,NaN,5,14
3319801,1409588028,910060265,0,NaN,,0,0,0,0,0,0,NaN,24,14
3319802,1409588044,200000054,0,NaN,YU FA 3 HAO A JING,30,26,4,0,0,0,NaN,19,14
3319803,1409588067,200006446,0,NaN,,0,0,0,0,0,0,NaN,24,14
3319804,1409588086,412467672,0,NaN,YUE DIANYU41178,0,0,0,0,0,0,NaN,24,14
3319805,1409588088,910060265,0,,NaN,30,0,0,0,0,0,NaN,24,14

In [60]:
sum(shipData.iloc[:, 0].isnull())

0

In [45]:
shipData.shape

(3267075, 14)

In [41]:
shipData.loc[83987]

0               1409503140
1                538004244
2                  9218404
3                  V7VZ2
4     FEDERAL SHIMANTO
5                       70
6                      190
7                       23
8                        1
9                   592768
10                      60
11                MONTREAL
12                       5
13                     101
Name: 83987, dtype: object

In [42]:
temp[0:4]

['1409501013,219905000,0,XP5174 ,L68 JANGA BORK      ,30,18,6,1,1596,30,CH 16 FOR DEST      ,5,103\n',
 '1409501013,219946000,0,OZYD   ,HELLE JES           ,30,21,6,1,1596,0,HUIDB SANDE         ,5,103\n',
 '1409501013,261182647,0,SR2647,KRYSTYNA ,99,62,8,15,568448,2,KALININGRAD *:,5,103\n',
 '1409501013,265623790,0,,EMM XXIII,0,0,0,0,0,0,,24,103\n']

In [52]:
len(schemaDynamic)

13

In [53]:
temp = shipData.head()
temp.columns = schemaStatic
temp

,UNIX timestamp,Ship MMSI,IMO Ship (International Maritime Organization),Ship callsign,Vessel,The type of ship,captain,Breadth,Pointing device type,ETA,The current draft,destination,Packet ID,Data Source ID
0,1409501013,219905000,0,XP5174,L68 JANGA BORK,30,18,6,1,1596,30,CH 16 FOR DEST,5,103
1,1409501013,219946000,0,OZYD,HELLE JES,30,21,6,1,1596,0,HUIDB SANDE,5,103
2,1409501013,261182647,0,SR2647,KRYSTYNA,99,62,8,15,568448,2,KALININGRAD *:,5,103
3,1409501013,265623790,0,NaN,EMM XXIII,0,0,0,0,0,0,NaN,24,103
4,1409501013,305477000,9160334,V2EM4,VECHTBORG,70,133,16,1,582656,48,BREMEN BY KIEL CANAL,5,103

In [38]:
shipData.head().describe()

,0,1,2,5,6,7,8,9,10,12,13
count,5.000000e+00,5.000000e+00,5.000000,5.000000,5.00000,5.000000,5.000000,5.000000,5.000000,5.000000,5
mean,1.409501e+09,2.544269e+08,1832066.800000,45.800000,46.80000,7.200000,3.600000,230859.200000,16.000000,8.800000,103
std,2.262742e+01,3.590897e+07,4096625.904121,38.771123,53.26068,5.761944,6.387488,314700.804872,21.954498,8.497058,0
min,1.409501e+09,2.199050e+08,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,5.000000,103
25%,1.409501e+09,2.199460e+08,0.000000,30.000000,18.00000,6.000000,1.000000,1596.000000,0.000000,5.000000,103
50%,1.409501e+09,2.611826e+08,0.000000,30.000000,21.00000,6.000000,1.000000,1596.000000,2.000000,5.000000,103
75%,1.409501e+09,2.656238e+08,0.000000,70.000000,62.00000,8.000000,1.000000,568448.000000,30.000000,5.000000,103
max,1.409501e+09,3.054770e+08,9160334.000000,99.000000,133.00000,16.000000,15.000000,582656.000000,48.000000,24.000000,103

In [43]:
temp[-5:]

['1409588028,910060265,0,,                    ,0,0,0,0,0,0,,24,14\n',
 '1409588044,200000054,0,,YU FA 3 HAO A JING  ,30,26,4,0,0,0,,19,14\n',
 '1409588067,200006446,0,,                    ,0,0,0,0,0,0,,24,14\n',
 '1409588086,412467672,0,,YUE DIANYU41178     ,0,0,0,0,0,0,,24,14\n',
 '1409588088,910060265,0,       ,,30,0,0,0,0,0,,24,14\n']

In [37]:
shipData.tail()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
3267070,1409588028,910060265,0,NaN,,0,0,0,0,0,0,NaN,24,14
3267071,1409588044,200000054,0,NaN,YU FA 3 HAO A JING,30,26,4,0,0,0,NaN,19,14
3267072,1409588067,200006446,0,NaN,,0,0,0,0,0,0,NaN,24,14
3267073,1409588086,412467672,0,NaN,YUE DIANYU41178,0,0,0,0,0,0,NaN,24,14
3267074,1409588088,910060265,0,,NaN,30,0,0,0,0,0,NaN,24,14